<h3>Load data (movie classification)</h3>

In [1]:
import pandas as pd

df = pd.read_csv('movie_classification.csv')

<h3>Cek nilai duplikat</h3>

In [2]:
print(df.duplicated().sum())

0

<h3>Menemukan null values buat presentase</h3>

In [3]:
(df.isnull().sum())/len(df)*100

Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

<h3>Drop missing value berdasarkan baris</h3>

In [4]:
baris = df.copy(deep=True)

drop_baris = baris.dropna()

<h3>Drop missing value berdasarkan kolom</h3>

In [5]:
kolom = df.copy(deep=True)

drop_kolom = kolom.dropna(axis=1)

<h3>Imputasi dengan mean</h3>

In [6]:
mean_imputation = df.copy(deep=True)

mean_imputation['Time_taken'] = mean_imputation['Time_taken'].fillna(mean_imputation['Time_taken'].mean())

<h3>Imputasi dengan modus</h3>

In [7]:
modus_imputation = df.copy(deep=True)

modus_imputation['Time_taken'] = modus_imputation['Time_taken'].fillna(modus_imputation['Time_taken'].mode()[0])

<h3>Imputasi dengan median</h3>

In [8]:
median_imputation = df.copy(deep=True)

median_imputation['Time_taken'] = median_imputation['Time_taken'].fillna(median_imputation['Time_taken'].median())

<h3>Export data csv & excel</h3>

In [14]:
mean_imputation.to_excel('Movie_classification_clean_mean.xlsx', index=False)
modus_imputation.to_excel('Movie_classification_clean_modus.xlsx', index=False)
median_imputation.to_excel('Movie_classification_clean_median.xlsx', index=False)

mean_imputation.to_csv('Movie_classification_clean_mean.csv', index=False)
modus_imputation.to_csv('Movie_classification_clean_modus.csv', index=False)
median_imputation.to_csv('Movie_classification_clean_median.csv', index=False)